<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="../css/game.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/main.js"></script>

</head>
<body>
    <div id="gameContainer">
        <div id="gridContainer">
            <div class="rowContainer" id="rw1">
                <div class="square" id="sq1" style="left:1px;">1</div>
                <div class="square" id="sq2" style="left:50px;">2</div>
                <div class="square" id="sq3" style="left:99px;">3</div>
                <div class="square" id="sq4" style="left:148px;">4</div>
            </div>
            <div class="rowContainer" id="rw2">
                <div class="square" id="sq5" style="left:1px;">5</div>
                <div class="square" id="sq6" style="left:50px;">6</div>
                <div class="square" id="sq7" style="left:99px;">7</div>
                <div class="square" id="sq8" style="left:148px;">8</div>
            </div>
            <div class="rowContainer" id="rw3">
                <div class="square" id="sq9" style="left:1px;">9</div>
                <div class="square" id="sq10" style="left:50px;">10</div>
                <div class="square" id="sq11" style="left:99px;">11</div>
                <div class="square" id="sq12" style="left:148px;">12</div>
            </div>
            <div class="rowContainer" id="rw4">
                <div class="square" id="sq13" style="left:1px;">13</div>
                <div class="square" id="sq14" style="left:50px;">14</div>
                <div class="square" id="sq15" style="left:99px;">15</div>
                <div class="square" id="sq16" style="left:148px;">-1</div>
            </div>
        </div>
        <div id="rand">
            <button id="b1">Randomize</button>
            <button id="pos2">Pos2</button>
            <button id="win">Win?</button>
        </div>

    </div>




</body>
</html>